body {
  --text-color: #222;
  --bkg-color: #fff;
  transition: color 300ms, background-color 300ms;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: black;
   transition: color 300ms, background-color 300ms;
  /*filter: invert(1) hue-rotate(180deg);*/
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
}

h1,p,a,i {
  color: var(--text-color);
}

